body {
    background-color: #FF0;
    cursor: url("byleth.gif");
}

#loading {

}


@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
   -webkit-animation: rotation 3s infinite linear;
}
