body {
    background-color: #FF0;
    
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

/*
.center{
    cursor: url("./images/byleth.png");
}
*/

#img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    /*height: 500px;*/
    margin-top: -260px;
    margin-left: -250px;
    -webkit-animation: rotation 3s infinite linear;
}
